hosts/vm04-orchestrator/n8n-workflows/deployment-management.json
{
  "name": "Deployment Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "deployment-dashboard",
        "responseMode": "html",
        "options": {}
      },
      "id": "webhook-deployment-dashboard",
      "name": "Deployment Dashboard UI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 100],
      "webhookId": "deployment-dashboard"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "installation-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-installation-status",
      "name": "Get Installation Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "installation-status"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-installation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-run-installation",
      "name": "Run Installation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 500],
      "webhookId": "run-installation"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "installation-logs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-installation-logs",
      "name": "Get Installation Logs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 700],
      "webhookId": "installation-logs"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify-deployment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-verify-deployment",
      "name": "Verify Deployment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 900],
      "webhookId": "verify-deployment"
    },
    {
      "parameters": {
        "jsCode": "// Get installation status for all VMs\nconst vms = ['vm01', 'vm02', 'vm03', 'vm04'];\nconst results = [];\n\nfor (const vmId of vms) {\n  // In real implementation, this would call the deployment manager API\n  results.push({\n    vm_id: vmId,\n    status: 'installed',\n    timestamp: new Date().toISOString(),\n    checks: {\n      python3: true,\n      git: true,\n      project_directory: true,\n      venv: true\n    },\n    installed_count: 4,\n    total_checks: 4\n  });\n}\n\nreturn results.map(item => ({ json: item }));"
      },
      "id": "get-installation-status",
      "name": "Get Installation Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/execute-command",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "vm_id",
              "value": "={{ $json.vm_id || 'vm01' }}"
            },
            {
              "name": "command",
              "value": "cd /home/thadmin/th_timmy && sudo bash hosts/{{ $json.vm_id }}/install_{{ $json.vm_id }}.sh /home/thadmin/th_timmy 2>&1"
            },
            {
              "name": "timeout",
              "value": "1800"
            }
          ]
        },
        "options": {}
      },
      "id": "http-run-installation",
      "name": "Execute Installation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "jsCode": "// Get installation logs\n// In real implementation, this would call the deployment manager API\nconst logs = [\n  {\n    deployment_id: '20240115_120000',\n    vm_id: 'vm01',\n    timestamp: new Date().toISOString(),\n    status: 'success',\n    exit_code: 0,\n    log_file: 'logs/deployments/deployment_vm01_20240115_120000.log'\n  },\n  {\n    deployment_id: '20240115_110000',\n    vm_id: 'vm02',\n    timestamp: new Date(Date.now() - 3600000).toISOString(),\n    status: 'success',\n    exit_code: 0,\n    log_file: 'logs/deployments/deployment_vm02_20240115_110000.log'\n  }\n];\n\nreturn logs.map(item => ({ json: item }));"
      },
      "id": "get-installation-logs",
      "name": "Get Installation Logs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 700]
    },
    {
      "parameters": {
        "jsCode": "// Verify deployment\n// In real implementation, this would call the deployment manager API\nconst vmId = $input.item.json.vm_id || 'vm01';\n\nreturn [{\n  json: {\n    vm_id: vmId,\n    timestamp: new Date().toISOString(),\n    verification_status: 'verified',\n    installation_status: {\n      status: 'installed',\n      checks: {\n        python3: true,\n        git: true,\n        project_directory: true,\n        venv: true\n      }\n    },\n    health_check: {\n      passed: 10,\n      failed: 0,\n      warnings: 0\n    }\n  }\n}];"
      },
      "id": "verify-deployment",
      "name": "Verify Deployment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 900]
    },
    {
      "parameters": {
        "respondWith": "html",
        "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n  <title>Deployment Management Dashboard</title>\n  <style>\n    body { font-family: Arial, sans-serif; margin: 20px; background: #f5f5f5; }\n    .container { max-width: 1400px; margin: 0 auto; }\n    .header { background: #2c3e50; color: white; padding: 20px; border-radius: 5px; margin-bottom: 20px; }\n    .actions { margin: 20px 0; }\n    .btn { padding: 12px 24px; margin: 5px; border: none; border-radius: 3px; cursor: pointer; font-size: 14px; }\n    .btn-primary { background: #3498db; color: white; }\n    .btn-success { background: #27ae60; color: white; }\n    .btn-warning { background: #f39c12; color: white; }\n    .btn-danger { background: #e74c3c; color: white; }\n    .btn:hover { opacity: 0.9; }\n    .vm-card { background: white; padding: 20px; margin: 10px 0; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .vm-card.installed { border-left: 5px solid #27ae60; }\n    .vm-card.partial { border-left: 5px solid #f39c12; }\n    .vm-card.not_installed { border-left: 5px solid #e74c3c; }\n    .status-badge { display: inline-block; padding: 5px 10px; border-radius: 3px; font-size: 12px; font-weight: bold; margin-left: 10px; }\n    .status-installed { background: #27ae60; color: white; }\n    .status-partial { background: #f39c12; color: white; }\n    .status-not_installed { background: #e74c3c; color: white; }\n    .checks { margin-top: 10px; }\n    .check-item { padding: 5px 0; }\n    .check-pass { color: #27ae60; }\n    .check-fail { color: #e74c3c; }\n    table { width: 100%; border-collapse: collapse; margin-top: 20px; }\n    th, td { padding: 12px; text-align: left; border-bottom: 1px solid #ddd; }\n    th { background: #34495e; color: white; }\n    tr:hover { background: #f5f5f5; }\n  </style>\n  <script>\n    function runInstallation(vmId) {\n      if (!confirm('Are you sure you want to run installation on ' + vmId + '? This may take up to 30 minutes.')) {\n        return;\n      }\n      fetch('/webhook/run-installation', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({ vm_id: vmId })\n      })\n        .then(r => r.json())\n        .then(d => { alert('Installation: ' + d.message); location.reload(); });\n    }\n    function verifyDeployment(vmId) {\n      fetch('/webhook/verify-deployment', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({ vm_id: vmId })\n      })\n        .then(r => r.json())\n        .then(d => { alert('Verification: ' + d.message); location.reload(); });\n    }\n    function refreshStatus() {\n      location.reload();\n    }\n  </script>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Deployment Management Dashboard</h1>\n      <p>Remote installation and deployment management</p>\n    </div>\n    \n    <div class=\"actions\">\n      <button class=\"btn btn-primary\" onclick=\"refreshStatus()\">Refresh Status</button>\n    </div>\n    \n    <h2>Installation Status</h2>\n    {{#each $json}}\n    <div class=\"vm-card {{status}}\">\n      <h3>{{vm_id}}</h3>\n      <span class=\"status-badge status-{{status}}\">{{status}}</span>\n      <div class=\"checks\">\n        <div class=\"check-item\">\n          <span class=\"{{#if checks.python3}}check-pass{{else}}check-fail{{/if}}\">\n            {{#if checks.python3}}✓{{else}}✗{{/if}} Python3\n          </span>\n        </div>\n        <div class=\"check-item\">\n          <span class=\"{{#if checks.git}}check-pass{{else}}check-fail{{/if}}\">\n            {{#if checks.git}}✓{{else}}✗{{/if}} Git\n          </span>\n        </div>\n        <div class=\"check-item\">\n          <span class=\"{{#if checks.project_directory}}check-pass{{else}}check-fail{{/if}}\">\n            {{#if checks.project_directory}}✓{{else}}✗{{/if}} Project Directory\n          </span>\n        </div>\n        <div class=\"check-item\">\n          <span class=\"{{#if checks.venv}}check-pass{{else}}check-fail{{/if}}\">\n            {{#if checks.venv}}✓{{else}}✗{{/if}} Virtual Environment\n          </span>\n        </div>\n      </div>\n      <div style=\"margin-top: 15px;\">\n        <button class=\"btn btn-success\" onclick=\"runInstallation('{{vm_id}}')\">Install</button>\n        <button class=\"btn btn-warning\" onclick=\"verifyDeployment('{{vm_id}}')\">Verify</button>\n      </div>\n    </div>\n    {{/each}}\n    \n    <h2>Recent Installation Logs</h2>\n    <table>\n      <thead>\n        <tr>\n          <th>Deployment ID</th>\n          <th>VM</th>\n          <th>Status</th>\n          <th>Timestamp</th>\n        </tr>\n      </thead>\n      <tbody>\n        {{#each logs}}\n        <tr>\n          <td>{{deployment_id}}</td>\n          <td>{{vm_id}}</td>\n          <td><span class=\"status-badge status-{{status}}\">{{status}}</span></td>\n          <td>{{timestamp}}</td>\n        </tr>\n        {{/each}}\n      </tbody>\n    </table>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "respond-deployment-dashboard",
      "name": "Respond Deployment Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"data\": $json } }}",
        "options": {}
      },
      "id": "respond-installation-status",
      "name": "Respond Installation Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Installation started\", \"data\": $json } }}",
        "options": {}
      },
      "id": "respond-run-installation",
      "name": "Respond Run Installation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"data\": $json } }}",
        "options": {}
      },
      "id": "respond-installation-logs",
      "name": "Respond Installation Logs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Deployment verified\", \"data\": $json } }}",
        "options": {}
      },
      "id": "respond-verify-deployment",
      "name": "Respond Verify Deployment",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 900]
    }
  ],
  "connections": {
    "Deployment Dashboard UI": {
      "main": [
        [
          {
            "node": "Get Installation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Installation Status": {
      "main": [
        [
          {
            "node": "Respond Deployment Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Installation Status": {
      "main": [
        [
          {
            "node": "Respond Installation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Installation": {
      "main": [
        [
          {
            "node": "Execute Installation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Installation": {
      "main": [
        [
          {
            "node": "Respond Run Installation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Installation Logs": {
      "main": [
        [
          {
            "node": "Get Installation Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Installation Logs": {
      "main": [
        [
          {
            "node": "Respond Installation Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Deployment": {
      "main": [
        [
          {
            "node": "Verify Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Deployment": {
      "main": [
        [
          {
            "node": "Respond Verify Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

