hosts/vm04-orchestrator/n8n-workflows/management-dashboard.json
{
  "name": "Management Dashboard",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Health Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.API_BASE_URL || 'http://localhost:8000' }}/health",
        "options": {}
      },
      "id": "api-health-check",
      "name": "API Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-health-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get-health",
      "name": "Get Health Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 500],
      "webhookId": "get-health-status"
    },
    {
      "parameters": {
        "url": "={{ $env.API_BASE_URL || 'http://localhost:8000' }}/health-check",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.API_KEY || '') }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"vm_id\": $json.body?.vm_id || null } }}",
        "options": {}
      },
      "id": "http-execute-command",
      "name": "Health Check API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-repository",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-sync-repo",
      "name": "Sync Repository",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 700],
      "webhookId": "sync-repository"
    },
    {
      "parameters": {
        "url": "={{ $env.API_BASE_URL || 'http://localhost:8000' }}/sync-repository",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.API_KEY || '') }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"vm_id\": $json.body?.vm_id || null, \"branch\": $json.body?.branch || null } }}",
        "options": {}
      },
      "id": "http-sync-repo",
      "name": "Sync Repository API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 700]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get-config",
      "name": "Get Configuration",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 900],
      "webhookId": "get-config"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-update-config",
      "name": "Update Configuration",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 1100],
      "webhookId": "update-config"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Health check completed\", \"data\": $json } }}",
        "options": {}
      },
      "id": "respond-health",
      "name": "Respond Health",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Repository sync completed\", \"data\": $json } }}",
        "options": {}
      },
      "id": "respond-sync",
      "name": "Respond Sync",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 700]
    },
    {
      "parameters": {
        "url": "={{ $env.API_BASE_URL || 'http://localhost:8000' }}/config",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.API_KEY || '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-config",
      "name": "Get Config API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 900]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"config\": $json.config || $json } }}",
        "options": {}
      },
      "id": "respond-config-get",
      "name": "Respond Config Get",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 900]
    },
    {
      "parameters": {
        "url": "={{ $env.API_BASE_URL || 'http://localhost:8000' }}/config",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.API_KEY || '') }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"config_data\": $json.body?.config_data || {}, \"validate\": $json.body?.validate !== false, \"create_backup\": $json.body?.create_backup !== false } }}",
        "options": {}
      },
      "id": "http-update-config",
      "name": "Update Config API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 1100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Configuration updated\", \"data\": $json } }}",
        "options": {}
      },
      "id": "respond-config-update",
      "name": "Respond Config Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 1100]
    },
    {
      "parameters": {
        "url": "={{ $env.API_BASE_URL || 'http://localhost:8000' }}/system-overview",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.API_KEY || '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-system-overview",
      "name": "Get System Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "dashboard",
        "responseMode": "html",
        "options": {}
      },
      "id": "webhook-dashboard",
      "name": "Dashboard UI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 100],
      "webhookId": "dashboard"
    },
    {
      "parameters": {
        "jsCode": "// Transform API response to dashboard format\nconst input = $input.all();\nconst systemOverview = input[0]?.json || {};\nconst vms = systemOverview.vms || {};\n\n// Convert vms object to array format for dashboard\nconst vmArray = Object.keys(vms).map(vmId => {\n  const vm = vms[vmId];\n  const status = vm.status || 'unknown';\n  \n  return {\n    vm_id: vmId,\n    name: vm.name || vmId,\n    status: status,\n    timestamp: systemOverview.timestamp || new Date().toISOString(),\n    metrics: {\n      cpu: vm.cpu_usage || vm.metrics?.cpu || 0,\n      memory: vm.memory_usage || vm.metrics?.memory || 0,\n      disk: vm.disk_usage || vm.metrics?.disk || 0\n    },\n    services: vm.services || {}\n  };\n});\n\nreturn vmArray.map(item => ({ json: item }));"
      },
      "id": "transform-vm-data",
      "name": "Transform VM Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML dashboard with n8n expressions\nconst input = $input.all();\nconst systemOverview = input[0]?.json || {};\nconst vms = systemOverview.vms || {};\nconst now = new Date().toLocaleString();\n\n// Convert vms object to array format for dashboard\nlet vmCardsHtml = '';\nObject.keys(vms).forEach(vmId => {\n  const vm = vms[vmId];\n  const status = vm.status || 'unknown';\n  const statusClass = status === 'healthy' ? 'healthy' : (status === 'degraded' ? 'degraded' : 'unhealthy');\n  const cpu = (vm.cpu_usage || vm.metrics?.cpu || 0).toFixed(1);\n  const memory = (vm.memory_usage || vm.metrics?.memory || 0).toFixed(1);\n  const disk = (vm.disk_usage || vm.metrics?.disk || 0).toFixed(1);\n  \n  vmCardsHtml += `\n    <div class=\"vm-card ${statusClass}\">\n      <h3>${vmId} - ${vm.name || vmId}</h3>\n      <span class=\"status-badge status-${status}\">${status}</span>\n      <div class=\"metrics\">\n        <div class=\"metric\">\n          <div class=\"metric-label\">CPU</div>\n          <div class=\"metric-value\">${cpu}%</div>\n        </div>\n        <div class=\"metric\">\n          <div class=\"metric-label\">Memory</div>\n          <div class=\"metric-value\">${memory}%</div>\n        </div>\n        <div class=\"metric\">\n          <div class=\"metric-label\">Disk</div>\n          <div class=\"metric-value\">${disk}%</div>\n        </div>\n      </div>\n    </div>\n  `;\n});\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <title>Threat Hunting Lab - Management Dashboard</title>\n  <style>\n    body { font-family: Arial, sans-serif; margin: 20px; background: #f5f5f5; }\n    .container { max-width: 1200px; margin: 0 auto; }\n    .header { background: #2c3e50; color: white; padding: 20px; border-radius: 5px; margin-bottom: 20px; }\n    .vm-card { background: white; padding: 20px; margin: 10px 0; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .vm-card.healthy { border-left: 5px solid #27ae60; }\n    .vm-card.unhealthy { border-left: 5px solid #e74c3c; }\n    .vm-card.degraded { border-left: 5px solid #f39c12; }\n    .status-badge { display: inline-block; padding: 5px 10px; border-radius: 3px; font-size: 12px; font-weight: bold; margin-left: 10px; }\n    .status-healthy { background: #27ae60; color: white; }\n    .status-unhealthy { background: #e74c3c; color: white; }\n    .status-degraded { background: #f39c12; color: white; }\n    .actions { margin-top: 20px; }\n    .btn { padding: 10px 20px; margin: 5px; border: none; border-radius: 3px; cursor: pointer; font-size: 14px; }\n    .btn-primary { background: #3498db; color: white; }\n    .btn-success { background: #27ae60; color: white; }\n    .btn-warning { background: #f39c12; color: white; }\n    .metrics { display: flex; gap: 20px; margin-top: 10px; }\n    .metric { flex: 1; }\n    .metric-label { font-size: 12px; color: #7f8c8d; }\n    .metric-value { font-size: 24px; font-weight: bold; }\n  </style>\n  <script>\n    function syncRepository() {\n      fetch('/webhook/sync-repository', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({}) })\n        .then(r => r.json())\n        .then(d => alert('Sync: ' + (d.message || d.status)));\n    }\n    function refreshStatus() {\n      location.reload();\n    }\n    setInterval(refreshStatus, 300000);\n  </script>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Threat Hunting Lab - Management Dashboard</h1>\n      <p>Last updated: ${now}</p>\n    </div>\n    \n    <div class=\"actions\">\n      <button class=\"btn btn-primary\" onclick=\"refreshStatus()\">Refresh Status</button>\n      <button class=\"btn btn-success\" onclick=\"syncRepository()\">Sync Repository</button>\n    </div>\n    \n    <h2>System Overview</h2>\n    ${vmCardsHtml}\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { html: html } }];"
      },
      "id": "generate-dashboard-html",
      "name": "Generate Dashboard HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "html",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "id": "respond-dashboard",
      "name": "Respond Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Schedule Health Check": {
      "main": [
        [
          {
            "node": "Get System Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get System Overview": {
      "main": [
        [
          {
            "node": "Transform VM Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform VM Data": {
      "main": [
        [
          {
            "node": "Generate Dashboard HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dashboard HTML": {
      "main": [
        [
          {
            "node": "Respond Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Health Status": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Respond Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Repository": {
      "main": [
        [
          {
            "node": "Sync Repository Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Repository Command": {
      "main": [
        [
          {
            "node": "Respond Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashboard UI": {
      "main": [
        [
          {
            "node": "Get System Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Health Status": {
      "main": [
        [
          {
            "node": "Health Check API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check API": {
      "main": [
        [
          {
            "node": "Respond Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Repository": {
      "main": [
        [
          {
            "node": "Sync Repository API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Repository API": {
      "main": [
        [
          {
            "node": "Respond Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Configuration": {
      "main": [
        [
          {
            "node": "Get Config API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config API": {
      "main": [
        [
          {
            "node": "Respond Config Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Configuration": {
      "main": [
        [
          {
            "node": "Update Config API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Config API": {
      "main": [
        [
          {
            "node": "Respond Config Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

